body{
    background-color: rgb(65, 5, 5);
}
.memes{
    
    
}
img{width:100%;} 
h1{
    font-size:70px;
    color:white;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size:70px;
    color:white;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}